In [1]:
import pandas as pd

Importing ERP data as Data Frame for Wrangling

In [2]:
df = pd.read_excel("/content/DynamicsExport_637717296556323714.xlsx")
df.head

<bound method NDFrame.head of      Priority  Overdue  Work cell       Kanban  Card number Item number  \
0          No    False         48  KN-00086009         2312  8688-00001
1          No    False         48  KN-00138571         3506  8687-00010
2          No    False         48  KN-00135866         2858  8680-01348
3          No    False         48  KN-00135868         2860  8680-00155
4          No    False         48  KN-00135869         2861  8680-00157
...       ...      ...        ...          ...          ...         ...
1764       No    False         48  KN-00361947        35924  8640-01119
1765       No    False         48  KN-00364496        36289  8680-01012
1766       No    False         48  KN-00359490        35649  8680-01003
1767       No    False         48  KN-00359491        35650  8680-01003
1768       No    False         48  KN-00362503        36012  8680-01019

      Job quantity Job status Size Handling unit status  ...  \
0              100  Completed    A              Emptied  ...
1              100  Completed    #              Emptied  ...
2                1  Completed    C              Emptied  ...
3               20  Completed    B              Emptied  ...
4               10  Completed    B              Emptied  ...
...            ...        ...  ...                  ...  ...
1764            10  Completed    B              Emptied  ...
1765            50  Completed    C              Emptied  ...
1766            10  Completed    C              Emptied  ...
1767            10  Completed    C              Emptied  ...
1768            10  Completed    C              Emptied  ...

     Deliver remainder Unit price Price unit Net amount Sales group  \
0                    0       6.67          1    6670.00          76
1                    0      11.15          1    2787.50          97
2                    0      59.41          1      59.41          97
3                    0      38.50          1     770.00          76
4                    0      46.20          1     462.00          76
...                ...        ...        ...        ...         ...
1764                 0      84.23          1     842.30          97
1765                 0      29.77          1    1488.50          78
1766                 0      29.82          1     298.20          76
1767                 0      29.82          1     298.20          76
1768                 0      46.25          1     462.50          76

     Created by Created date and time Modified by Modified date and time  \
0             ?   2020-11-23 23:19:49           ?    2020-11-23 23:19:49
1             ?   2020-11-23 23:19:49           ?    2020-11-23 23:19:49
2             ?   2020-11-23 23:19:49           ?    2020-11-23 23:19:49
3             ?   2020-11-23 23:19:49           ?    2020-11-23 23:19:49
4             ?   2020-11-23 23:19:49           ?    2020-11-23 23:19:49
...         ...                   ...         ...                    ...
1764  ewikstrom   2021-09-21 21:16:49       WMAPP    2021-09-30 08:14:51
1765   kvincent   2021-09-27 09:46:45       WMAPP    2021-09-30 15:35:35
1766  ewikstrom   2021-09-16 21:16:58       WMAPP    2021-09-30 12:13:19
1767  ewikstrom   2021-09-16 21:17:01       WMAPP    2021-09-30 12:14:16
1768     RGross   2021-09-22 15:32:46       WMAPP    2021-09-30 08:15:45

     Expected start date/time
0         2020-10-22 05:39:39
1         2020-10-22 07:15:33
2         2020-10-23 04:23:37
3         2020-10-23 03:15:44
4         2020-10-23 03:55:22
...                       ...
1764      2021-09-29 12:27:46
1765      2021-09-29 10:01:13
1766      2021-09-29 13:08:35
1767      2021-09-29 13:12:21
1768      2021-09-29 13:01:34

[1769 rows x 42 columns]>

In [3]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1769 entries, 0 to 1768
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Priority                   1769 non-null   object
 1   Overdue                    1769 non-null   bool
 2   Work cell                  1769 non-null   int64
 3   Kanban                     1769 non-null   object
 4   Card number                1769 non-null   int64
 5   Item number                1769 non-null   object
 6   Job quantity               1769 non-null   int64
 7   Job status                 1769 non-null   object
 8   Size                       1769 non-null   object
 9   Handling unit status       1769 non-null   object
 10  Planned period             1769 non-null   datetime64[ns]
 11  Ship date                  1759 non-null   datetime64[ns]
 12  Due date/time              1769 non-null   datetime64[ns]
 13  Completed by               1264 non-null   object
 14  Completed DateTime         1264 non-null   datetime64[ns]
 15  Actual prepared date/time  1769 non-null   datetime64[ns]
 16  Actual start date/time     1769 non-null   datetime64[ns]
 17  Actual end date/time       1769 non-null   datetime64[ns]
 18  Name                       1769 non-null   object
 19  Schedule group             1760 non-null   object
 20  Warehouse                  1769 non-null   object
 21  Location                   1769 non-null   object
 22  Good quantity              1769 non-null   int64
 23  Error quantity             1769 non-null   int64
 24  Sales order                1759 non-null   object
 25  Line number                1769 non-null   float64
 26  Customer                   1759 non-null   object
 27  Delivery name              1759 non-null   object
 28  External                   1431 non-null   object
 29  Line status                1759 non-null   object
 30  Requested ship date        1759 non-null   datetime64[ns]
 31  Confirmed ship date        1758 non-null   datetime64[ns]
 32  Deliver remainder          1769 non-null   int64
 33  Unit price                 1769 non-null   float64
 34  Price unit                 1769 non-null   int64
 35  Net amount                 1769 non-null   float64
 36  Sales group                1744 non-null   object
 37  Created by                 1769 non-null   object
 38  Created date and time      1769 non-null   datetime64[ns]
 39  Modified by                1769 non-null   object
 40  Modified date and time     1769 non-null   datetime64[ns]
 41  Expected start date/time   1769 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](12), float64(3), int64(7), object(19)
memory usage: 568.5+ KB
None
       Work cell   Card number  Job quantity  Good quantity  Error quantity  \
count     1769.0   1769.000000   1769.000000    1769.000000     1769.000000
mean        48.0  19613.336914     45.059356      44.569813        0.098926
std          0.0   9394.781760     64.147987      63.147862        2.449454
min         48.0    792.000000      1.000000       1.000000        0.000000
25%         48.0  11257.000000     10.000000      10.000000        0.000000
50%         48.0  20025.000000     20.000000      20.000000        0.000000
75%         48.0  26898.000000     50.000000      50.000000        0.000000
max         48.0  36289.000000    750.000000     750.000000       75.000000

       Line number  Deliver remainder   Unit price   Price unit    Net amount
count   1769.00000        1769.000000  1769.000000  1769.000000   1769.000000
mean       2.12825           0.028265    41.525037     0.994347   2022.357191
std        2.38978           1.188793    30.099836     0.074994   3008.065477
min        0.00000           0.000000     0.000000     0.000000      0.000000
25%        1.00000           0.000000    25.040000     1.000000    436.300000
50%        1.00000           0.000000    35.200000     1.000000    910.200000
75%        2.00000           0.000000    53.720000     1.000000   2189.000000
max       25.00000          50.000000   450.000000     1.000000  41190.000000

Treating Missing values:

In [4]:
print("DF Columns:")
print(df.columns.tolist())

DF Columns:
['Priority', 'Overdue', 'Work cell', 'Kanban', 'Card number', 'Item number', 'Job quantity', 'Job status', 'Size', 'Handling unit status', 'Planned period', 'Ship date', 'Due date/time', 'Completed by', 'Completed DateTime', 'Actual prepared date/time', 'Actual start date/time', 'Actual end date/time', 'Name', 'Schedule group', 'Warehouse', 'Location', 'Good quantity', 'Error quantity', 'Sales order', 'Line number', 'Customer', 'Delivery name', 'External', 'Line status', 'Requested ship date', 'Confirmed ship date', 'Deliver remainder', 'Unit price', 'Price unit', 'Net amount', 'Sales group', 'Created by', 'Created date and time', 'Modified by', 'Modified date and time', 'Expected start date/time']

In [5]:
missing_value = df.isnull().sum()
print(missing_value)

Priority                       0
Overdue                        0
Work cell                      0
Kanban                         0
Card number                    0
Item number                    0
Job quantity                   0
Job status                     0
Size                           0
Handling unit status           0
Planned period                 0
Ship date                     10
Due date/time                  0
Completed by                 505
Completed DateTime           505
Actual prepared date/time      0
Actual start date/time         0
Actual end date/time           0
Name                           0
Schedule group                 9
Warehouse                      0
Location                       0
Good quantity                  0
Error quantity                 0
Sales order                   10
Line number                    0
Customer                      10
Delivery name                 10
External                     338
Line status                   10
Requested ship date           10
Confirmed ship date           11
Deliver remainder              0
Unit price                     0
Price unit                     0
Net amount                     0
Sales group                   25
Created by                     0
Created date and time          0
Modified by                    0
Modified date and time         0
Expected start date/time       0
dtype: int64

Filled "Ship Date" with forward fill value:

In [6]:
df['Ship date']
df['Ship date'].fillna(method='ffill', inplace=True)
print(df['Ship date'].isnull().sum())

0

Filled "Completed by" with the mode value:

In [7]:
mode_completed_by = df['Completed by'].mode().iloc[0]
df['Completed by'].fillna(mode_completed_by,inplace=True)
print(df['Completed by'].isnull().sum())

0

Filled "Completed DateTime" value with "Actual prepared date/time":

In [8]:
df['Completed DateTime'].fillna(df['Actual prepared date/time'], inplace=True)
print(df['Completed DateTime'].isnull().sum())

0

Filled "Schedule group" with forward fill value:

In [9]:
df['Schedule group'].fillna(method='ffill', inplace=True)
print(df['Schedule group'].isnull().sum())

0

Removed "Sale Order" and "Customer" NAs:

In [10]:
df.dropna(subset=['Sales order'], inplace=True)
print(df['Sales order'].isnull().sum())
df.dropna(subset=['Customer'], inplace=True)
df.dropna(subset=['Confirmed ship date'], inplace=True)
df.dropna(subset=['Sales group'], inplace=True)
print(df['Sales group'].isnull().sum())
print(df['Confirmed ship date'].isnull().sum())

0
0
0

Filling Na values with "Unknown":

In [11]:
df["External"].fillna("Unknown", inplace=True)
print(df['External'].isnull().sum())

0

In [12]:
df['Sales group'] = pd.to_numeric(df['Sales group'], errors='coerce')
df['Due date/time'] = df['Due date/time'].astype(str)
df[['Due Date', ' Due Time']] = df['Due date/time'].str.split(' ', expand=True)

Changing Date and Time column to two seprate columns: Loop through columns that has both date & time and droped time column since it wasn't desirable for analysis.

In [ ]:
df['Due date/time'] = df['Due date/time'].astype(str)
df[['Due Date', 'Due Time']] = df['Due date/time'].str.split(' ', expand=True)
df.drop(['Due Time'], axis=1, inplace=True)
print(df.columns)

In [25]:
datecols= ['Completed DateTime', 'Actual prepared date/time','Actual start date/time', 'Actual end date/time', 'Created date and time', 'Modified date and time', 'Expected start date/time' ]

for item in datecols:
  if item in df.columns:
    df[item] = df[item].astype(str)
    df[[item +'Date', item+'Time']] = df[item].str.split(' ', expand=True)
    df.drop([item+'Time'], axis=1, inplace=True)

In [30]:
df.to_excel('ERP_data.xlsx', index=False)

# New Section